body {
	font-size: 90%;
}

.header {
	padding: 0 10px 0 0;
	grid-template-columns: auto min-content;
	/* grid-auto-flow: column; */
	white-space: nowrap;
	/* height: 50px; */
}

.header__nav_links li {
	margin-left: 20px;
}

.header__nav_links li:last-child {
	margin-right: 20px;
}

.header__user_links li:hover {
	background-color: silver;
}

.layout {
	display: grid;
	grid-template-rows: min-content 1fr min-content;
}

@media (min-width: 1240px) {
	.header {
		padding: 0 10px;
	}
}

table,
thead,
tbody {
	border-collapse: collapse;
	width: 100%;
	/* display: grid; */
	/* border-collapse: collapse; */
}

table {
	margin: 5px;
	padding: 5px;
	/* table-layout: auto; */
}

thead {
	/* display: table; */
	/* to take the same width as tr */
	/* width: calc(100% - 17px); */
}

tbody {
	/* display: block; */
	/* to enable vertical scrolling */
	/* max-height: 200px; */
	/* e.g. */
	/* overflow-y: scroll; */
}

thead tr th {
	/* position: sticky; */
	top: 0;
}

tr {
	/* display: table; */
	/* display purpose; th's border */
	width: 100%;
	box-sizing: border-box;
}

th,
td {
	/* width: 33.33%; */
	/* to enable "word-break: break-all" */
	/* padding: 5px; */
	/* word-break: break-all; */
	/* 4. */

}

td {
	vertical-align: top;
	border: 1px solid blue;
	max-width: 100px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}