{
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "singleQuote": false,
        "trailingComma": "all",
        "bracketSpacing": true,
        "jsxBracketSameLine": false,
        "semi": true,
        "useTabs": true,
        "arrowParens": "always",
        "endOfLine": "auto",
        "quoteProps": "as-needed",
        "object-curly-newline": "never",
        "typescript.singleQuote": false,
        "typescript.trailingComma": "none",
        "typescript.bracketSpacing": false
      }
    }
  ]
}
