$color60: #ffffff;
$color30: #ebebeb;
$color10: #a3a3a3;
$color5: #262626; // $color5: #aaaaaa;
$colorTheme: #3b82f6;

.tab {
  background-color: $color30;

  // display: contents;
  // width: 100%;
  // height: 100%; /* Или любую нужную высоту 100cqmin*/
  // display: grid;
  // grid-auto-flow: column;
  // flex-direction: column;
  margin: 100px 100px 0px 100px;
  padding: 4px;
  border: 1px solid $color10;
  border-radius: 2px;
}

.tabPanel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 30px));
  grid-auto-flow: column;
  // flex-direction: row;
  align-items: center;
  padding: 4px;
  margin-bottom: 4px;
  // justify-content: flex-end;
}

.tabWrapper {
  display: grid;
  // margin: 4px 4px 4px 4px;
  // width: auto;
  // background-color: red;
  // padding: 4px;
  // border: 1px solid $color30;

  height: 500px; /* Высота контейнера */
  overflow-y: auto; /* Прокрутка по вертикали */
  border-top: 1px solid $color10;
  border-bottom: 1px solid $color10;
  border-right: 1px solid $color10;

  // &::-webkit-scrollbar {
  //   width: 8px;
  // }

  // /* Track */
  // &::-webkit-scrollbar-track {
  //   // padding-top: 30px;
  //   background: $color60;
  // }

  // /* Handle */
  // &::-webkit-scrollbar-thumb {
  //   // margin-top: 30px;
  //   background: $color30;
  //   border-radius: 1px;
  // }

  // /* Handle on hover */
  // &::-webkit-scrollbar-thumb:hover {
  //   background: $color10;
  // }
}

table {
  // background-color: yellowgreen;
}

.table_command_panel {
  padding: 0px 0 0px 0;
}

.table_container {
  display: table;
  border-collapse: collapse; /* Убирает двойные границы */
  // grid-template-columns: repeat(4, 1fr);
  // grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  // grid-auto-flow: row; /* Размещение элементов в колонках */
  // grid-auto-columns: min-content;
  // height: 100vh;

  max-height: 98vh;

  overflow-x: auto;
  overflow-y: auto;

  border: 1px solid $color10;
  // background-color: #fff;
  position: relative;
}

.table_footer {
  width: 100cqmin;
  height: 30px;
}

thead {
  // display: inline;
  background-color: $color30;
  position: sticky;
  top: 0;
  z-index: 1;
  // border-bottom: 1px solid red;
  tr {
    th {
      border-left: 1px solid $color10;
      div {
        // height: 27px;
        text-align: left;
        padding: 4px 4px;
      }
    }

    box-shadow: 0px 0px 20px rgba(100, 100, 100, 0.5); /* Внутренняя тень */
  }
  &::before {
    // // border-radius: 5px;
    // // border-top: 1px solid $color10;
    // // background-color: red; /* Цвет фона */
    // content: " "; /* Псевдоэлемент нуждается в содержимом */
    // // padding: 2px; /* Отступы */
    // display: block; /* Отображение блока, чтобы отступы работали */
    // position: absolute; /* Позиционирование относительно родителя */
    // top: 0; /* Например, расположение внизу */
    // left: 0; /* Сдвиг от левого края */
    // right: 0; /* Сдвиг от правого края, если нужно заполнить */
    // // height: 10px; /* Задайте высоту, чтобы псевдоэлемент был видимым */
    // // box-shadow: 0 0 1px 1px $color10;
  }
  &::after {
    // background-color: red; /* Цвет фона */
    content: " "; /* Псевдоэлемент нуждается в содержимом */
    // padding: 2px; /* Отступы */
    display: block; /* Отображение блока, чтобы отступы работали */
    position: absolute; /* Позиционирование относительно родителя */
    bottom: 0; /* Например, расположение внизу */
    left: 0; /* Сдвиг от левого края */
    right: 0; /* Сдвиг от правого края, если нужно заполнить */
    // height: 10px; /* Задайте высоту, чтобы псевдоэлемент был видимым */
    // box-shadow: 0 0 1px 1px $color10;
    // border-bottom: 2px solid $color10;
    height: 1px;
    background: $color10;
  }
}

tbody {
  // grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  // grid-auto-flow: column; /* Размещение элементов в колонках */
  // grid-auto-columns: min-content;
  background-color: $color60;
  tr {
    td {
      border-left: 1px solid $color10;
      border-right: 1px solid $color10;
      div {
        align-items: center;
        padding: 2px 2px 2px 4px;
        user-select: none;
      }
    }
    &:not(:last-child) {
      border-bottom: 1px solid $color10;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

.TabFieldActive {
  @extend .TabField;
  border: 1px solid #87a2ff !important;
  background: #c4d7ff;
}
.TabField {
  display: grid;
  grid-template-rows: 20px;
  // overflow: hidden;
  // // background-color: red;
  // white-space: nowrap;
  // text-overflow: ellipsis;
  // grid-template-columns: 1fr auto; /* Делаем элемент гибким */
  // max-width: 100%;
  // justify-content: center;
  // align-items: stretch;

  // align-items: center;
  border: 1px solid transparent;
  cursor: pointer;
  // max-width: 150px;
  // text-overflow: ellipsis;
  span {
    display: grid;
    overflow: hidden;
    // background-color: red;
    white-space: nowrap;
    text-overflow: ellipsis;
    // font-size: 14px;
  }
}

.header_row {
  display: table-header-group;
  // display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  // grid-auto-flow: column; /* Размещение элементов в колонках */
  // grid-auto-columns: min-content;
  // overflow-x: auto;
  background-color: $color30;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid $color5;

  &::after {
    content: "";
    top: 27px;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: transparent;
    transition: background-color 600ms ease;
  }
}

.header_row__scrolling {
  &::after {
    background-color: #6464645d;
  }
}

// .footer_row {
//   background-color: $color30;
//   position: sticky;
//   bottom: 0;
//   z-index: 1;
//   border-top: 1px solid $color10;
// }

.header_row,
.content_row {
  // display: contents;
}

.header_cell,
.content_cell,
.footer_cell {
  // display: grid;
  width: 100%; // height: 30px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  // display: inline-grid; // выравнивание по вертикали
  align-items: stretch; // выравнивание по вертикали
  // justify-items: end;
  border-right: 1px solid $color10;

  &:not(:last-child) {
  }
}

.header_cell {
  // display: table-cell;
  cursor: default;
  user-select: none;
  // border-right: 5px solid red;

  &:not(:first-child) {
  }

  &:not(:last-child) {
  }

  &:first-child {
  }

  &:last-child {
  }

  .field {
    border: 1px solid transparent;
    span {
      font-weight: 600;
      &:hover {
        .sortIcon_hover {
          display: flex;
        }
      }
      .sortIcon_hover {
        color: $color10;
        // visibility: none;
        padding-top: 2px;
      }
    }
    .sortIcon {
      padding-top: 2px;
    }
  }
}

.content_cell {
  // display: table-cell;
  cursor: default;
  user-select: none;
  // align-self: center;
  // align-items: end;

  &:not(:last-child) {
  }

  &:first-child {
  }

  &:last-child {
  }

  .field {
    // vertical-align: middle;
    // display: flex;
    // height: 26px; // display: grid;
    // line-height: 16px;
    // padding: 0 4px;
    // justify-content: center;
    // align-self: self-end;
    // align-items: center;
    // align-content: center;
    border: 1px solid $color60;
    font-weight: 500;
  }
}

.field {
  // height: 26px;
  display: flex;
  // place-items: center;
  padding: 4px;
  align-items: stretch;

  align-items: center;
  // justify-self: center;
  // line-height: normal;
  // align-content: center;
  // justify-content: center;
  span {
    display: flex; // выравнивание по вертикали
    align-items: center; // выравнивание по вертикали // display: inline-grid;
    // border: 1px solid red;
    line-height: normal;
    font-size: 12px;
    color: $color5;
    // font-weight: 600;
  }
}

input[type="checkbox"] {
  height: 16px;
  width: 16px;
  accent-color: $colorTheme;
  // appearance: none;
  // outline: none;
  // border: none;
  // outline: 3px solid red;
  // border-radius: 10px;
  // border: 1px solid red;
  // align-self: center;
}

.contextMenu {
  user-select: none;
  z-index: 9999;
  position: absolute;
  width: 200px;
  padding: 0px;
  // outline: 1px solid $colorTheme;

  background-color: $color60;
  border: 1px solid $color10;
  border-radius: 2px;
  box-shadow: 0px 0px 3px 0px $color10;
}
.contextMenu_list {
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  padding: 0px;

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 5px;

    // border: 1px solid #fff;
    &:not(:last-child) {
      // border-top: 1px solid $colorTheme;
      border-bottom: 1px solid $color30;
    }
    &:first-child {
      // border-top: 1px solid $color30;
    }
    a {
      display: grid;
      grid-template-columns: 22px 1fr;
      align-items: center;
      // font-weight: 400;
      // padding-left: 5px;
      // background-color: red;
      font-size: 12px;

      // line-height: normal;

      &:hover {
        // text-decoration: underline;
        color: $colorTheme;
      }
    }
  }
}
