.nav {
	display: flex;
	flex: 0;
	flex-shrink: 0;
	min-height: 100vh;
	justify-content: space-between;
	background-color: #333;
	color: white;
	padding: 5px;
	/*  будет динамически изменяться */
	width: 60px;

	ul {
		li {
			padding: 10px 10px;
		}
	}
}

.main {
	/* flex: 1;
	flex-shrink: 0;
	height: 100px;
	overflow-y: scroll;
	min-width: 900px; 
	max-width: 900px; */

	/* background-color: #31318a; */
	/* padding: 10px; */
	/* text-align: center; */
}

.content {
	padding: 50px;
	/* display: grid; */
	/* grid-template-rows: 1fr; */
	/* grid-template-columns: 1fr; */
	/* flex: 1; */
	/* flex-grow: 1; */
	/* width: 100cqmax; */
	/* height: 100px; */
	/* overflow-y: scroll; */
	/* margin: 200px; */
	/* padding: 50px; */
	/* color: red; */
	/* font-weight: bold; */
	/* @apply font-black; */
}
